<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{$page_description|default:"Opis domyślny"}">

    <title>{$page_title|default:"Tytuł domyślny"}</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="{$app_url}/styles/styles.css" />

	<script src="{$app_url}/js/jquery.min.js"></script>
	<script src="{$app_url}/js/softscroll.js"></script>

</head>
<body>
    <div>
        <div class="header">
            <div class="pure-menu pure-menu-horizontal">
              <a href="{$app_url}" class="pure-menu-heading">Kalkulator kredytowy</a>
      
              <ul class="pure-menu-list">
                <li class="pure-menu-item {if $current_page=='start_page'}pure-menu-selected{/if}">
                  <a href="{$app_url}/app/start_page.php" class="pure-menu-link">
                    {if $current_page=='start_page'}
                        Strona startowa
                    {/if}
                    {if $current_page!='start_page'}
                        Przejdź do strony startowej
                    {/if}
                  </a>
                </li>
                <li class="pure-menu-item {if $current_page=='calc'}pure-menu-selected{/if}">
                  <a href="{$app_url}/app/calc.php" class="pure-menu-link">
                    {if $current_page=='calc'}
                        Kalkulator
                    {/if}
                    {if $current_page!='calc'}
                        Przejdź do kalkulatora
                    {/if}
                  </a>
                </li>
              </ul>
            </div>
        </div>

        {block name=start_page} {/block}
        {block name=kalk_kred} {/block}

        <div class="footer">
          messi to goat
        </div>
    </div>
</body>
</html>