body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.l-box {
    padding: 2em;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}

.pure-menu-link {
    padding: 1em .7em;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}


    .photo-box img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .photo-box video {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    color: rgb(255, 190, 94); /* steel blue */
}

    .text-box-head {
        color: #fff;
        padding-bottom: 0.2em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 24px;
    }

    .text-box-subhead {
        font-weight: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

    .form-box .pure-button {
        background-color: #61B842;
        color: white;
        vertical-align: top;
        font-size: 85%;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border-radius: 4px;
        margin: 0.3em;
    }
    .pure-form {
        display: flex;
        flex-direction: column;
    }
    .pure-form input[type] {
        margin: 0.3em auto;
        text-align: center;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}

.page {
    height: 100vh;
    width: 100vw;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 2em;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style-position: inside;
    overflow: hidden;
    border-radius: 5em;
    padding: 2em;
    background: linear-gradient(tomato,red);
    margin: 0;
}

.message-list li {
    color: white;
    font-family: sans-serif;
    font-size: 1.1em;
}

.result {
    padding: 0.7em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
    color: white;
    background: linear-gradient(to right, purple, darkblue);
}